<%
const title = opt.title || _.state.title || _.state.name
if (title) {
  %>
  <div class="page-title container">
    <div class="page-title__head mb-0 p-2">
      <h1 class="my-0">
        <%= title %>
      </h1>
    </div>
    <%
    const description = opt.description || _.state.short_description
    if (description) {
      %>
      <div class="page-title__short-description lead">
        <%= description %>
      </div>
    <% } %>
  </div>
<% } %>
