@font-face {
  font-family: 'GoldplayRegular';
  src: url(/img/uploads/GoldplayRegular.eot);
  src: url(/img/uploads/GoldplayRegular.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayRegular.woff2) format('woff2'),
       url(/img/uploads/GoldplayRegular.woff) format('woff'),
       url(/img/uploads/GoldplayRegular.ttf) format('truetype'),
       url(/img/uploads/GoldplayRegular.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayRegular.otf) format('otf');
}

@font-face {
  font-family: 'GoldplayAltBlack';
  src: url(/img/uploads/GoldplayAltBlack.eot);
  src: url(/img/uploads/GoldplayAltBlack.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayAltBlack.woff2) format('woff2'),
       url(/img/uploads/GoldplayAltBlack.woff) format('woff'),
       url(/img/uploads/GoldplayAltBlack.ttf) format('truetype'),
       url(/img/uploads/GoldplayAltBlack.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayAltBlack.otf) format('otf');
}

@font-face {
  font-family: 'GoldplayAltBold';
  src: url(/img/uploads/GoldplayAltBold.eot);
  src: url(/img/uploads/GoldplayAltBold.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayAltBold.woff2) format('woff2'),
       url(/img/uploads/GoldplayAltBold.woff) format('woff'),
       url(/img/uploads/GoldplayAltBold.ttf) format('truetype'),
       url(/img/uploads/GoldplayAltBold.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayAltBold.otf) format('otf');
}

@font-face {
  font-family: 'GoldplayMedium';
  src: url(/img/uploads/GoldplayMedium.eot);
  src: url(/img/uploads/GoldplayMedium.eot?#iefix) format('embedded-opentype'),
       url(/img/uploads/GoldplayMedium.woff2) format('woff2'),
       url(/img/uploads/GoldplayMedium.woff) format('woff'),
       url(/img/uploads/GoldplayMedium.ttf) format('truetype'),
       url(/img/uploads/GoldplayMedium.svg#GoldplayRegular) format('svg'),
       url(/img/uploads/GoldplayMedium.otf) format('otf');
}


body {
    font-family: 'GoldplayMedium';
}

.container {max-width: 1280px;}

.box-bg-gummie {
    padding-left: 28%;
    padding-top: 270px;
}

#page-products .variations__grid-title {
    text-transform: uppercase;
    font-family: 'GoldplayAltBold';
    color: #f397da;
}

.box-gumm-mob {
    display: none;
}

.product__buy button {
    background: #f3237f;
    border: none;
    font-family: 'GoldplayAltBold';
}

.product-card:hover .product-card__buy button, .product-card .product-card__buy button {
    background: #c2eaf3 !important;
    border: none;
    border-radius: 25px;
    width: 95%;
    margin: 0px 3%;
    color: #f21b7a !important;
    font-family: 'GoldplayAltBold';
}

#cart-count {
    background: #f21b7a;
}

#cart-button {
    line-height: 0;
}

.top-bar {
    background: #c2eaf3;
}

.text-gummie {}
.oque-sao {color: #f3237f;font-weight: bold;float: left;margin-right: 3%;}

.oque-sao h2 {font-size: 46px;margin-left: -30px;    font-family: 'GoldplayAltBold';}

.text-gummie {}
.box-bg-porque {}
.text-porque {}
.box-gummie {}


.page--home .custom-html:nth-child(3) {
    z-index: -1;
    background: #d2c1de;
    width: 100%;
    position: absolute;
    height: 10px;
    margin-top: -412px;
    height: 830px;
}

.page--home .custom-html:nth-child(4) {
    background: url(/img/uploads/porque.png) no-repeat center top;
    min-height: 598px;
}

.page--home .custom-html:nth-child(5) {
    background: url(/img/uploads/bg-beneficios.jpg) no-repeat top;
    min-height: 930px;
    display: flex;
    padding-top: 70px;
}

.product-card {
    padding:0px;
}

.text-porque {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 13%;
}

.item1 {
    background: url(/img/uploads/bloco1.png) no-repeat top;
}

.item2 {
    background: url(/img/uploads/bloco2.png) no-repeat top;
}

.text-sobre {
    display: flex;
    text-align: justify;
    padding-top: 15px;
    font-family: 'GoldplayRegular';
}

.item3 {
    background: url(/img/uploads/bloco3.png) no-repeat top;
}

.item4 {
    background: url(/img/uploads/bloco4.png) no-repeat top;
    margin-left: 16%;
}

.item5 {
    background: url(/img/uploads/bloco5.png) no-repeat top;
}

.box-gummie {
    color: #f11879;
    font-weight: bold;
    padding: 122px 0px 20px;
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 40px;
    font-size: 26px;
    font-family: 'GoldplayAltBold';
}

.title-box {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin-bottom: 70px;
    background: url(/img/uploads/wave.png) no-repeat center bottom;
}

.title-blow {
    background: url(/img/uploads/blow-gummies.png) no-repeat left center;
    width: 240px;
    height: 108px;
}

.title span {
    display: block;
}

.title-blow-comprar {
    background: url(/img/uploads/comprar-agora.png) no-repeat 0;
    width: 253px;
    height: 226px;
}

.title-box a {
    display:flex;
}

.title {
    text-align: right;
    margin-right: 14px;
    color: #f3237f;
    font-family: 'GoldplayAltBold';
    font-size:32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.oque-sao h2 {
            font-family: 'GoldplayAltBold';
    font-size:32px;
}

.page--home {
    background: url(/img/uploads/onda.png) no-repeat center top;
    /*padding-top: 40px;*/
    margin-top: -20px;
    z-index: 1;
    position: relative;
}

.page--home .products-carousel__title {
    display:none;
}

.page--home .products-carousel {
    background: transparent;
}


.page--home .product-item {
    background: #fff;
    border-radius: 20px;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 8px 0px #f3237f;
}


.page--home .box-bg-porque {}

.products-carousel .products-carousel__item, .dynamic-showcase .col-6.col-md-4.col-lg-3 {
    padding: 10px 5px;
}

.product-card__name {
    font-size: 16px;
    --max-lines: 3;
    border-top: solid 2px #f3237f;
    margin: 0px 5px;
    color: #565656;
    padding: 10px 0px;
    font-family: 'GoldplayAltBold';
}

.product-card__prices {
    border-bottom: solid 2px #f3237f;
    padding: 7px;
    margin: 0px 5px;
}

.prices__value {
    color: #f3237f;
    font-weight: 700;
    font-size: 31px;
    font-family: 'GoldplayAltBold';
}

.header {
    background: #c2eaf3;
    border: none;
}

#influencers {
    background: url(/img/uploads/titulo-blow-gummies-1-.png) no-repeat 0 #c1eaf2;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 403px;
    margin-bottom: 100px;
    margin-top: -50px;
}

.product__sku {
    display: none;
}


.products-carousel__title {
    font-size: 30px;
    color: #f3237f;
    font-family: GoldplayAltBold;
}

.card-footer .minicart__btn-checkout {
    background: #6ec065;
    border: none;
    font-weight: bold;
    color: #000;
}

.card-header {
    background: #f3237f;
    border: none !important;
    color: #fff;
    font-family: 'GoldplayAltBold';
}

#influencers .glide {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: 4%;
}


.resultados #instafeed img {
    width:23%;
    margin:1%
}

.header__logo {
    max-height: 84px;
}

.footer {
    background: #fac8d0;
    border: none !important;
}
@media(min-width: 767px) {
  .header__toggler, .top-bar {
      display:none;
  }
}


.smartphone {
    background: url(/img/uploads/phone.png) no-repeat center top;
    width: 100%;
    height: 587px;
    position: absolute;
    left: 0;
}

.depoimento {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 133px;
}

#user-button:after {
    content: "Seja bem vindo(a)!";
    font-family: GoldplayAltBold;
    color: #f21b7a;
    font-size: 14px;
}

.header__nav a:hover {
    background: #ffffff;
}

.prices--big .prices__value {
    font-size: 34px;
}


.page--home .custom-html:nth-child(7) {
    background: url(/img/uploads/bg-rosa.jpg) no-repeat top;
    min-height: 930px;
    display: flex;
    padding-top: 70px;
}

#page-products .product__name {
    font-size: 30px;
    color: #f3237f;
    font-family: GoldplayAltBold;
}

.title h2 {
    font-size: 32px;
}

.header__nav a {
    font-family: 'GoldplayAltBold';
    color: #f21b7a;
    text-transform: none !important;
    font-size: 15px;
    margin: 0px 4px;
    }

.falam-html {
    margin-bottom: -40px;
    background: url(/img/uploads/bg-newsletter.jpg) no-repeat center top #fac8d0;
    padding-top: 80px;
    padding-bottom: 10px;
    margin-top: -80px;
}

.box-bg-falam {
    background: rgb(255,255,255);
    background: linear-gradient(
180deg
, rgba(255,255,255,1) 0%, rgba(247,210,222,1) 50%, rgba(255,255,255,1) 100%);
    height: 960px;
    margin-bottom: -654px;
}

.falam-html .container {
    max-width: 95%;
}

.sociais {
    margin: 0px 30px 0px 10px;
}

#user-button:before {
    content: "Seja bem vindo(a)!";
    font-family: 'GoldplayAltBold';
    color: #f21b7a;
    font-size: 14px;
    position: absolute;
    right: 8px;
    bottom: 25px;
}

#user-button:after {
    content: "Entrar ou Cadastrar-se";
    color: #f21b7a;
    font-size: 12.6px;
    font-family: 'GoldplayRegular';
}

.title a:hover {
    text-decoration:none;
}

@media(min-width: 767px) {
    #user-button {margin-top: 7px;}
}


.resultados-html {
    margin: 150px 0px 0px;
}

.resultados-html .container {
    max-width: 80%;
}

.falam-html img {
    width: 12.5%;
}

#user-button img {margin-top: -9px;}

#opinioes .glide__arrow--left {
    left: 565px;
}

#opinioes .glide__arrow--right {
    right: 565px;
}

.footer .order-lg-last {
    order: 3;
}

.order-lg-first {
    order: 13;
}

.footer .container .col-12 {
    width:25%
}

.footer__title {
    font-family: 'GoldplayAltBold';
    color: #f21b7a;
    text-transform: none!important;
    font-size: 26px;
}

.footer__links a {
     font-family: 'GoldplayRegular';
     color: #5c1233;
     line-height: 25px;
}

.footer__contacts .list-unstyled a {
        font-family: 'GoldplayAltBold';
        color: #f21b7a;
        text-transform: none!important;
        font-size: 17px;
}

.footer__credits span {
    color: #995970;
}

.ecom-credits {
    background: #c2eaf3;
    color: #9d687e;
    margin-top: -60px;
    padding-top: 30px;
    margin-bottom: -30px;
}

.footer__contacts address {
    display:none;
}

.footer__list-icon {color: #f21b7a;font-size: 19px;}


@media (min-width: 1281px) {
   #influencers .glide {
    max-width: 58%;
    margin-left: 28%;
}

}

@media (min-width: 1100px) and (max-width: 1280px) {
   #influencers .glide {
    max-width: 58%;
    margin-left: 28%;
}
.resultados-html .container {
    max-width: 100%;
}
.sociais {
    margin: 0;
}
}

@media (min-width: 993px) and (max-width: 1099px) {
   #influencers .glide {
    max-width: 58%;
    margin-left: 38%;
}
.resultados-html .container {
    max-width: 100%;
}
.sociais {
    margin: 0;
}

.page--home .custom-html:nth-child(4) {
    background: url(/img/uploads/porque.png) no-repeat left top;
    min-height: 598px;
}

.box-bg-gummie {
    padding-left: 63%;
    padding-top: 211px;
}

.oque-sao {
    margin-top: -170px;
}

.page--home .custom-html:nth-child(5) {
    background: url(/img/uploads/bg-beneficios-reduzido.jpg) no-repeat left bottom;
    min-height: 660px;
    padding-top: 0;
}

.container {
    max-width: 100%;
}

.footer .container .row .col-12 {flex: 0 0 25%;max-width: 25%;}

.footer .container .footer__credits .col-12 {flex: 0 0 50%;max-width: 50%;}

.ecom-credits {
    margin-top: -20px;
}

.header__nav a {
    font-size: 12px;
    margin: 0px 2px;
}

.text-porque {
    padding-left: 31%;
}

.box-gummie {
    margin-bottom: 0px;
    font-size: 20px;
}

#opinioes .glide__arrow--right {
    right: 315px;
}

#opinioes .glide__arrow--left {
    left: 315px;
}

}


@media (min-width: 0px) and (max-width: 767px) {
    #user-button:before, #user-button:after {
    font-size: 0;
}

.box-gumm-mob {
    display: block;
}

.page--home .custom-html:nth-child(4) {
    background: url(/img/uploads/mob-nicole-bahls.jpg) no-repeat center top #c2eaf3;

        margin-top: 260px;
}
.box-bg-gummie {
    padding-left: 0;
    padding-top: 377px;
}

.oque-sao {
    width:100%;
    text-align:center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.text-sobre {
    display:inline-flex;
    padding-bottom: 30px;
}

.title-blow {
    background: url(/img/uploads/blow-gummies.png) no-repeat center top;
    width: 100%;
}

.falam-html img {
    width: 25%;
}
.resultados #instafeed img {
    width: 50%;
    margin: 0%;
}

.resultados-html .container {
    max-width: 100%;
}

.box-gumm-mob {
    display: block;
    position: absolute;
    margin-top: -226px;
    z-index: 99;
}

.title-box {
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.page--home .custom-html:nth-child(5) {
    padding-top: 290px;
    background: url(/img/uploads/mob-gummies.jpg) no-repeat center top;
}

.text-porque {
    padding: 0px;
}

.box-gummie {
    width: 50%;
    font-size: 24px;
    margin: 0px;
}

.title-box a {
    display: inline-block;
}

.title h2 {
    font-size: 28px;
}

.box-bg-falam {
    margin-bottom: -556px;
}

.title {width: 100%;text-align: center;}

    .page--home .collection-shelf {}

    #influencers .glide {
    max-width: 100%;
    margin: 0;
    padding-left: 2%;
}
#influencers {
    background: url(/img/uploads/famosos.jpg) no-repeat center top #c1eaf2;
    padding-top: 370px;
}
.glide__arrows--outer .glide__arrow--right {
    border-radius: 50px;
    width: 32px;
    padding: 6px;
        font-size: 18px;
    right: 0px;
    background: #fff;
}
.glide__arrows--outer .glide__arrow--left {
    left: 0;
    border-radius: 50px;
    width: 32px;
        font-size: 18px;
    padding: 6px;
    background: #fff;
}



.resultados-html {
    margin: 120px 0 0;
}

.ecom-credits a:nth-child(2) {
    margin: 0px 20px;
    color: #000;
}

#opinioes .glide__arrow--left {
    left: 0px;
}

#opinioes .glide__arrow--right {
    right:0px
}

.ecom-credits img {
    height: 1.4rem;
}

.breadcrumb {
    display:none;
}

.ecom-credits {
    display: grid;
    line-height: 30px;
}

.ecom-credits a {
    color:#000;
}

.product-card__prices {
    border-bottom: none !important;
}

.product-card .product-card__buy button, .product-card:hover .product-card__buy button {
    display: none;
}

.product-card__name {
    font-size: 14px;
        --max-lines: 4;
    }

.prices__value {
    font-size: 22px;
}

.box-gummie:last-child {
    width: 100%;
}

.menu__item {
    color: #f21b7a;
    border-bottom: var(--border-width) solid #f21b7e;
        font-family: GoldplayRegular;
}

}


@media (min-width: 992px){
.app__credits>div {
    padding-top: var(--spacer-3);
    background: transparent;
    margin: 0;
}
}


@media (max-width:767px){
#user-button img {
    margin-top: 5px;
}
}
