// Add your custom CSS here.
#main {
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.extra-page .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-items: center
}
#cta {
  font-family: GoldplayAltBold;
  color: #f21b7a;
}
.menu-desk {
  display: flex;
  a {
    color: #F51879;
  }
}
.header__toggler i  {
  color: #F51879;
}
#mobile-search-btn {
  display: none;
}
@media(min-width: 767px) {
  #selos {
    #go-to-top {
      float: right;
    }
  }
  #pagamentos {
    float: left;
  }
}
.__pages_frete-gratis {
  @media (min-width:1200px){.bg-igre { background: url(//cdn.ecvol.com/s/www.blowhair.com.br/uploads/desc-bg-bloww-Otimizada.jpg); position: relative; float: left; width: 100%; padding: 70px 610px 0px 70px; color: #000; line-height: 27px; font-weight: 400; text-align: justify; font-size: 14px; padding-bottom: 25px;}.descri-compl {position: relative;}.bg-descri { background: url(//cdn.ecvol.com/s/www.blowhair.com.br/uploads/desc-bg-desc-Otimizada.jpg) no-repeat left top; padding-left: 430px; padding-bottom: 30px; padding-top: 30px;}.bg-porq { position: relative; float: left; width: 100%;}.bg-result { position: relative; float: left; width: 100%;}}.title-result { text-align: center; color: #ed2a56; padding: 27px; font-weight: 600; margin: 0px; font-size: 26px;}.title-igre { color: #ed2a56; font-weight: 600; margin: 0px; font-size: 26px; text-align: left; margin-bottom: 30px; margin-top: 30px;}.box-tratamento { float: left; width: 33%; text-align: center;}.box-gummies { float: left; margin-bottom: 90px; width:50%;}.tempo { background: #ed2a56; margin: 0px 22px 30px 22px; color: #fff; padding: 17px; font-size: 18px; font-weight: 700;}.only-text h3 { font-weight: 400; text-align: justify; font-size: 14px; line-height: 29px;}.only-text { width: 100%; float: left; position: relative; padding: 32px; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}.title-descricao{ text-align: center; background: #ed2a56; color: #fff; padding: 27px !important; font-weight: 600; margin: 0px; font-size: 26px;}.bg-descri p { color: #000; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}.bg-title { color: #ed2a56; font-weight: 700; font-size: 26px; text-align: left; padding-bottom: 20px;}.text-compl { position: relative; background: #b3ffff; padding: 32px; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}@media only screen and (max-width:767px){ .text-compl { padding:0px !important; } .text-compl ul { padding:15px } ul {list-style-type: none; padding:0px}.bg-title { font-size: 20px !important; text-align: center !important; } .title-descricao { padding:27px !important; } .title-result { padding:0px !important; margin-bottom:30px !important; }.bg-igre { line-height:29px;}.tempo { margin: 0px 0px 30px 0px !important;}.title-igre { text-align:center !important;}.only-text, .only-text h3 { font-size:13px !important;} .box-tratamento { width: 100% !important; } .box-gummies { float: left; width: 100% !important; } .only-text { padding: 0px !important; }}
}
.order-info__toggle {
    display: none !important;
}
.order-info__financial-status--paid {
  color: #86e9fe
}
@media(min-width: 768px) {
  .banner-slider {
      max-width: 100%;
      --banner-aspect-ratio: 1!important;
      height: auto;
  }
}
@media(min-width: 767px) {
.shipping-calculator__option .shipping-line {
  max-width: 50%
}
.shipping-calculator__option small {
  display: flex;
  justify-content: flex-end;
  max-width: 50%;
  line-height: 2
}  
.dynamic-showcase .product-card__name {
  height: 79.4px;
}

}
@media(max-width: 767px) { 
  .dynamic-showcase .product-card__name {
    height: 75.4px;
  }
  
}
.title-valor li {
    list-style-type: none;
    background: url(/img/uploads/certo.png) no-repeat left top;
    padding-left: 25px;
    text-align: justify;
    margin-bottom: 11px;
}
.dynamic-showcase {
  background-color: #d2c1de;
  .retail-grid {
    margin-top: -1px;
  }
}
#c-6047fc686d50911b6059f55f {
  display: none;
}
.wp:before {
  content: " ";
  background: url(/img/uploads/WordPress-pink-24x24.png);
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: 100% 100%;
  padding-top: 5px
}
.sociais {
  display: flex;
  align-items: center;
  margin: 0px 5px !important;
  a {
    padding: 0 2px !important;
  }
}

.header__nav a:first-child {
  text-transform: uppercase !important;
  background-color: #f51879;
  color: #fff !important;
}
.header__nav a:first-child:hover {
  background-color: #CB348B
}
.cart__back a, .discount-applier__coupon-btn, .checkout__back a {
  border: 1px solid
}
.checkout__steps a:first-child::after {
  content: ' Voltar ao Carrinho';
}
@media(min-width: 767px) {
  .share-network-sms {
    display: none;
  }
}
@media(max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}
.product-item {
  text-align: center;
}
.product-card__prices {
  text-align: center;
  display: flex;
  .prices__installments {
    small {
      font-weight: 700 !important;
    }
    span:before {
      content: 'de '
    }
    order: -1;
    color: #ed2a56;
    font-size: 25px;
    font-weight: 700 !important;
    font-family: GoldplayAltBold;
  }
  .prices__value {
    color: #848484;
    text-align: center;
    font-size: 23px!important;
    font-weight: 600 !important;
    &::after {
      content: " à vista"
    }
  }
  .prices__discount {
    &-label {
      display: none;
    }
    font-size: 20px;
    font-weight: 700 !important;
    font-family: GoldplayAltBold;
    background-color: #ED2A56;
    color: #fff;
    padding: 5px;
  }
}
//home
.page--home .page-title {
  background-color: #d2c1de;
  max-width: 100% !important;
  .page-title__head {
    margin-bottom: 0 !important;
  }
}
.page-title__head {
  justify-content: center;
  h1 {
    font-weight: 700 !important;
    font-family: GoldplayAltBold;
  }
}

//checkout 
.cart__info {
  background: #f1f1f1 !important;
}
.discount-applier.cart__discount {
  background: #f3f3f3;
  padding: 1rem;
}
.recommended-items .product-card--small .product-card__name {
  --max-lines: 3 !important;
}
.account-points {
  display: none !important;
}
//description

@media (min-width:1200px){.bg-igre p, .bg-igre h2 {width: 95%;} .bg-igre { background: url(/img/uploads/desc-bg-bloww-Otimizada.jpg); position: relative; float: left; width: 100%; padding: 70px 610px 0px 70px; color: #000; line-height: 27px; font-weight: 400; text-align: justify; font-size: 14px; padding-bottom: 25px;}.descri-compl {position: relative;}.bg-descri { background: url(/img/uploads/desc-bg-desc-Otimizada.jpg) no-repeat left top; padding-left: 430px; padding-bottom: 30px; padding-top: 30px;}.bg-porq { position: relative; float: left; width: 100%;}.bg-result { position: relative; float: left; width: 100%;}}.title-result { text-align: center; color: #ed2a56; padding: 27px; font-weight: 600; margin: 0px; font-size: 26px;}.title-igre { color: #ed2a56; font-weight: 600; margin: 0px; font-size: 26px; text-align: left; margin-bottom: 30px; margin-top: 30px;}.box-tratamento { float: left; width: 33%; text-align: center;}.box-gummies { float: left; margin-bottom: 90px; width:50%;}.tempo { background: #ed2a56; margin: 0px 22px 30px 22px; color: #fff; padding: 17px; font-size: 18px; font-weight: 700;}.only-text h3 { font-weight: 400; text-align: justify; font-size: 14px; line-height: 29px;}.only-text { width: 100%; float: left; position: relative; padding: 32px; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}.title-descricao{ text-align: center; background: #ed2a56; color: #fff; padding: 27px !important; font-weight: 600; margin: 0px; font-size: 26px;}.bg-descri p { color: #000; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}.bg-title { color: #ed2a56; font-weight: 700; font-size: 26px; text-align: left; padding-bottom: 20px;}.text-compl { position: relative; background: #b3ffff; padding: 32px; line-height: 29px; font-weight: 400; text-align: justify; font-size: 14px;}@media only screen and (max-width:767px){ .text-compl { padding:0px !important; } .text-compl ul { padding:15px } ul {list-style-type: none; padding:0px}.bg-title { font-size: 20px !important; text-align: center !important; } .title-descricao { padding:27px !important; } .title-result { padding:0px !important; margin-bottom:30px !important; }.bg-igre { line-height:29px;}.tempo { margin: 0px 0px 30px 0px !important;}.title-igre { text-align:center !important;}.only-text, .only-text h3 { font-size:13px !important;} .box-tratamento { width: 100% !important; } .box-gummies { float: left; width: 100% !important; } .only-text { padding: 0px !important; }}
